<div id="entry-date-filter" 
     class="select is-multiple is-fullwidth">
    <div class="field-body is-block">
        <div class="field mr-0">
            <input class="input" type="date" id="filter-entry-date-start" value="{{ filters['entry-date']['start'] }}" name="filter-entry-date-start" aria-label="{{ i18n.aria_search_date_of_entry_lower }}"/>
        </div>
    </div>
    <button class="button is-outlined is-fullwidth mt-4">
        {{ i18n.apply_filter }}
    </button>
</div>