/**/.idea/*
.cache/
.netbeans.xml
nbproject/*
nbproject/
dbis_server/public/dist/*
dbis_server/public/content/
dbis_server/migrations/connect_dbis_data.php
dbis_server/migrations/connect_dbis_database.php
dbis_server/migrations/connect_sus_data.php
ubr_shared_user_service/public/dist/*
ubr_shared_user_service/public/icons/*
vendor/
Vendor/
!dbis_server/public/vendor/
node_modules/
authtest-config.json
.env
package-lock.json
composer.lock
dumps/
dbis_server/public/projekt/
dbis_server/public/icons/
dbis_server/public/wiki/*
!dbis_server/public/wiki/data/
dbis_server/public/wiki/data/*
!dbis_server/public/wiki/data/pages/
dbis_server/public/media/
.venv/
logstash/app/log.log
_scripts/urlchk/urlchk.lock
_scripts/urlchk/urlchk1.log
_scripts/urlchk/urlchk.log
_scripts/urlchk/urlchk.date
.history/
