@import '~@/fonts/Mulish/mulish.css';

html .title.is-1 {
    font-weight: 800;
    font-size: 2rem;
}

html .title.is-2 {
    font-weight: 700;
    font-size: 1.5rem;
}

html .title.is-3 {
    font-weight: 500;
    font-size: 1.25rem;
}

html .title.is-4 {
    font-weight: 500;
    font-size: 1rem;
}

html .title.is-5 {
    font-weight: 400;
    font-size: 1rem;
}

html .title.is-6 {
    font-weight: 300;
    font-size: 1rem;
}
