<div class="level mb-2">
    <h3 class="title is-3 mb-2">{{ zdbNamespace }}</h3>
</div>

<div class="columns field-zdb global">
    <div class="column">
        <div class="field">
            <div class="control">
                <input type="hidden" id="zdb_namespace" name="zdb_namespace" value="zdb">
                <input id="zdb_id_global" name="zdb_id_global" class="input" type="text"
                       autocomplete="off" placeholder="{{ i18n.lbl_zdb_id_placeholder }}"
                       value="{{ resourceGlobal.zdb_id }}">
            </div>
        </div>
    </div>
</div>