/**/.idea/*
.cache/
.netbeans.xml
nbproject/*
dbis_server/public/dist/*
dbis_server/migrations/connect_dbis_data.php
dbis_server/migrations/connect_dbis_database.php
dbis_server/migrations/connect_sus_data.php
ubr_shared_user_service/public/dist/*
ubr_shared_user_service/public/icons/*
vendor/
Vendor/
node_modules/
authtest-config.json
.env
package-lock.json
composer.lock

dbis_server/public/wiki/*
!dbis_server/public/wiki/data/
dbis_server/public/wiki/data/*
!dbis_server/public/wiki/data/pages/

*.swp
